.konami{
    opacity: 0;
    position: fixed;
    left: 0;
    bottom: -10px;
    pointer-events: none;
    
    
    .quote{
        opacity: 0;
        position: fixed;
        z-index: 999;
        bottom: 40px;
        left: 300px;
        width: 400px;
        background: #FFF;
        border: 3px solid #222;
        
        p{
            padding: 10px;
            font-family: 'Inconsolata', monospace;
            font-size: 2em;
            margin: 0;
        }
    }
    
    .quote.active{
        opacity: 1;
    
        animation: translateXL .8s;
    	-webkit-animation: translateXL .8s;
    	-moz-animation: translateXL .8s;
    	animation-iteration-count: 1;
    	-webkit-animation-iteration-count: 1;
    	-moz-animation-iteration-count: 1;
    	animation-fill-mode: forwards;
    	-webkit-animation-fill-mode: forwards;
    	-moz-animation-fill-mode: forwards;
    }
}

.konami.active{
    opacity: 1;
    z-index: 999;
    
    animation: translateXL .8s;
	-webkit-animation: translateXL .8s;
	-moz-animation: translateXL .8s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}