@media screen and (max-width: 1440px){
    #home p{
        width: 50vw;
    }
}

@media screen and (max-width: 1280px){
    #projects{
        .container{
            .proj{
                
                h1{
                    bottom: 135px;    
                }
                
                p{
                    font-size: 1em;
                }
            }
        }
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #home{ 
      height: 35vh;
          
      h1{
          font-size: 6vw;
          
          em.active{
              &:after{
                  width: 17vw;
                  height: 65px;
                  bottom: -15px;
              }
          }
      }
      
      p{
          width: 90vw;
      }
  }
  
  #projects{
      .container{
          .proj{
              padding: 10px 30px;
              
              h1{
                  font-size: 5vw;
                  bottom: 70px;
              }
              
              p{
                  font-size: 0.8em;
              }
          }
      }
  }
  
  #contact{
      h1{
          font-size: 2em;
      }
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    #home{ 
          
      h1{
          font-size: 6vw;
          
          em.active{
              &:after{
                  width: 17vw;
                  height: 65px;
                  bottom: -15px;
              }
          }
      }
      
      p{
          width: 70vw;
      }
  }
  
  #projects{
      .container{
          .proj{
              padding: 10px 30px;
              
              h1{
                  font-size: 5vw;
                  bottom: 60px;
                  left: 10px;
              }
              
              p{
                  font-size: 0.8em;
              }
          }
      }
  }
  
  #contact{
      h1{
          font-size: 2em;
      }
  }
  
}

@media screen and (max-width: 490px){
    #home{
        height: 75vh;
        
        h1{
            font-size: 13vw;
            margin: 20px 0;
            
            em.active{
                &:after{
                    display: none;
                }
            }
        }
        
        .social{
            margin: 10px auto 0 auto;
            
        }
        
        p{
            width: 90vw;
            font-size: .9em;
        }
    }
    
    #projects{
        p.title{
            font-size: 7vw;
        }
        
        .container{
            
            .proj{
                width: 100%;
                padding: 15px;
                
                h1{
                    font-size: 15vw;
                    left: 5px;
                    bottom: 80px;
                }
                
                &:not(:first-of-type){
                    padding-top: 50px;
                }
            }
        }
    }
    
    #contact{
        padding-top: 40px;
        
        h1{
            font-size: 1.5em;
        }
        
        form{
            width: 90%;
            
            &:after{
                font-size: 1.5em;
                text-align: center;
            }
        }
    }
    
    .konami{
        img{
            width: 50%;
        }
        
        .quote.active{
            left: 40%;
            width: 55%;
            
            p{
                font-size: 1.2em;
            }
        }
        
       
    }
}

@media screen and (max-width: 320px){
     #projects{
        .container{
            .proj{
                h1{
                    bottom: 100px;
                }
            }
        }
    }
}